*{
  font-family: Arial;
}
#iium{

}
#river{
  clip-path: polygon(100% 50%, 0 0, 0 99%);
  float: left;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 400px;
}
.box{
  text-align: left;
  padding-left: 400px;
}
h1{
  text-align: left;
  padding-left: 200px;
}
h2{
  padding-left: 200px;
}

h2::after{
  display: block;
  content: '';
  border-bottom-style: solid;
  border-bottom-color: #008080;
  border-bottom-width: 5px;
  width: 70px;
}
form{
  text-align: left;
  padding-left: 200px;
}
input[type=number]{
  width: 200px;
  padding: 10px 25px;
  margin: auto;
  border: 1px solid #ccc;
}
input[type=text]{
  width: 200px;
  padding: 10px 25px;
  margin: auto;
  border: 1px solid #ccc;
}
input[type=checkbox]{

}
button{
  width: 250px;
  text-align: center;
  padding: 10px 25px;
  margin: auto;
}
#Footer{
  float: right;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

